# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app
BestConsoleGame/.vs/BestConsoleGame/FileContentIndex/09448cdd-3d7e-464a-bb1a-31f7332cfeec.vsidx
BestConsoleGame/.vs/BestConsoleGame/FileContentIndex/355a3702-39ad-4df9-a4fd-2c565fe7e961.vsidx
BestConsoleGame/.vs/BestConsoleGame/FileContentIndex/cef8ac91-9aaf-4a6d-ad06-1840e52bc147.vsidx
BestConsoleGame/.vs/BestConsoleGame/FileContentIndex/850e58a5-7f4f-47f7-a5dd-2d4970d460ac.vsidx
BestConsoleGame/BestConsoleGame/x64/Debug/BestConsoleGame.tlog/CL.read.1.tlog
